!!!
%html
  %head
  %body
    %h1 Invoice ##{h @invoice.number}
    %span.date=h @invoice.billing_date.strftime("%m.%d.%Y")
    %ul.company
      %li.name=h @organization.name
      %li.address=h @organization.address
      %li.phone=h @organization.phone
    %ul.client
      %li.name=h @client.name
      %li.address=h @client.address
      %li.phone=h @client.phone

    %table#invoice_lines
      %thead
        %tr
          %th.description Description
          %th.quantity Quantity
          %th.unit_price Unit Price
          %th
      %tbody
        - @invoice.invoice_lines.each do |invoice_line|
          %tr.invoice_line
            %td.description= invoice_line.description
            %td.quantity= invoice_line.quantity
            %td.unit_price= number_to_currency(invoice_line.price)
            %td.total_price
    %span.amount_due=h @invoice.amount_due
    %span.due_date=h @invoice.due_date
    %h3 Notes
    %ul
      %li
        Note:
        = @invoice.note
    
        