!!!
%html
  %head
  %body
    %h1 
      Invoice ##{h @invoice.number}
      %span.date=h @invoice.billing_date.strftime("%B %d, %Y")
    %ul.company
      %li.name
        %strong=h @organization.name
      %li.address= format_address h(@organization.address.address_parts) unless @organization.address.blank?
      %li.phone= displayable_phone_number h(@organization.phone)
    %ul.client
      %li.name
        %strong=h @client.name
      %li.address= format_address h(@client.address.address_parts) unless @client.address.blank?
      %li.phone= displayable_phone_number h(@client.phone)

    %table#invoice_lines{:cellspacing => "0"}
      %thead
        %tr
          %th.description Description
          %th.quantity Quantity
          %th.unit_price Unit Price
          %th
      %tbody
        - @invoice.invoice_lines.each do |invoice_line|
          %tr.invoice_line
            %td.description= invoice_line.description
            %td.quantity= invoice_line.quantity
            %td.unit_price= number_to_currency(invoice_line.price)
            %td.total_price
    %h3 Notes
    %p= @invoice.note
    #totals
      %h4.amount_due
        %strong 
          Total
        = cents_to_dollars h(@invoice.amount_due)
      %h4.due_date=h @invoice.due_date
    
        