!!!
%html
  %body
    #main_content.show_invoice
      %h2 Invoice ##{@invoice.number}
      #invoice_info
        %h3 Client Information
        %fieldset#client_info
          =# client_avatar(@client)
          %ul.person_info
            %li.name=h @client.name
            %li.email=h @client.email
            %li.phone= @client.phone
            %li.billing_date=h @invoice.billing_date.to_s(:regular)
    
        %h3 Items
        %fieldset
          %table#invoice_lines
            %thead
              %tr
                %th.description Description
                %th.quantity Quantity
                %th.unit_price Unit Price
                %th
            %tbody
              - @invoice.invoice_lines.each do |invoice_line|
                %tr.invoice_line
                  %td.description= invoice_line.description
                  %td.quantity= invoice_line.quantity
                  %td.price
                    = number_to_currency(invoice_line.price)
        - unless @invoice.note.blank?                    
          %h3 Notes
          %fieldset
            %ul
              %li
                Note:
                = @invoice.note

      = render :partial => 'payments' unless @invoice.payments.blank?