#main_content
  %h2 Dashboard
  .dashboard
    %h3.overdue Overdue Invoices
    = render :partial => 'invoice', :locals => { :invoices => @overdue_invoices }
       
    %h3 Newly Created Invoices
    = render :partial => 'invoice', :locals => { :invoices => @new_invoices }
        
    %h3 Recently Sent Invoices
    = render :partial => 'invoice', :locals => { :invoices => @sent_invoices }
    
    %h3 Recently Paid Invoices
    = render :partial => 'invoice', :locals => { :invoices => @paid_invoices }
    
#sidebar
  = link_to 'Add A New Client', new_client_path, :id => 'new', :class => "button"
  = link_to 'Create A New Invoice', new_invoice_path, :id => 'new', :class => "button"
  %h2 
    Estimated income for
    = current_year 
  %h3.income
    %strong Total
    = number_to_currency(@estimated_total_for_year)