#main_content
  %h2 Dashboard
  .dashboard
    - unless @overdue_invoices.blank?
      %h3.overdue Overdue Invoices
      = render :partial => 'invoices/invoices', :locals => { :invoices => @overdue_invoices }
       
    - unless @open_invoices.blank?
      %h3 Open Invoices
      = render :partial => 'invoices/invoices', :locals => { :invoices => @open_invoices }
        
    - unless @sent_invoices.blank?
      %h3 Recently Sent Invoices
      = render :partial => 'invoices/invoices', :locals => { :invoices => @sent_invoices }

    - unless @paid_invoices.blank?
      %h3 Recently Paid Invoices
      = render :partial => 'invoices/invoices', :locals => { :invoices => @paid_invoices }
    
#sidebar
  = link_to 'Add A New Client', new_client_path, :id => 'new', :class => "button"
  = link_to 'Create A New Invoice', new_invoice_path, :id => 'new', :class => "button"
  %h2 Estimated income for #{current_year}
  %h3.income
    %strong Total
    =h cents_to_dollars(@estimated_total_for_year)
#totals
  %h4 
    Open Invoices:
    %span=h @total_open_invoices_count
  %h4 
    Sent Invoices:
    %span=h @total_sent_invoices_count
  %h4 
    Paid Invoices:
    %span=h @total_paid_invoices_count