= f.error_messages
#invoice_info
  %fieldset 
    %legend Client
    %p
      = f.label :client_id
      = f.collection_select :client_id, @clients, :id, :name, :prompt => true
    %p
      = f.label :number
      = f.text_field :number
      %em
        (Last used:
        = h(@invoice.last_used_number)
        )
    %p
      = f.label :payment_due_date
      = f.date_select :payment_due_date
    %p
      = f.label :billing_date
      = f.date_select :billing_date
  
  %fieldset
    %legend Item
    %table#invoice_lines
      %thead
        %tr
          %th.description Description
          %th.quantity Quantity
          %th.unit_price Unit Price
          %th
      %tbody
        - f.fields_for :invoice_lines do |invoice_line_form|
          = render :partial => 'invoice_line', :locals => { :f => invoice_line_form }

    = add_child_link "Add New Line", f, :invoice_lines
    
  %fieldset
    %legend Extra
    %ul
      %li
        = f.label :note
        = f.text_area :note

%p= f.submit button_text
