= f.error_messages
#invoice_info
  %h3 Client
  %fieldset 
    %ul
      %li
        = f.label :client_id
        = f.collection_select :client_id, @clients, :id, :name, :prompt => true
      %li
        = f.label :number
        = f.text_field :number, :value => @next_invoice_number, :class => "swap_value"
        %p.note
          Last invoice number used was
          = @next_invoice_number-1
      %li
        = f.label :billing_date
        = f.date_select :billing_date
      %li
        = f.label :due_date, 'Due'
        = f.select :due_date, [['on receipt', 0], ['in 15 days', 15], ['in 30 days', 30], ['in 45 days', 45]]

  %h3 Item
  %fieldset
    %table#invoice_lines
      %thead
        %tr
          %th.description Description
          %th.quantity Quantity
          %th.unit_price Unit Price
          %th
      %tbody
        - f.fields_for :invoice_lines do |invoice_line_form|
          = render :partial => 'invoice_line', :locals => { :f => invoice_line_form }

    = add_child_link "Add Another Line", :invoice_lines
  
  %h3 Notes
  %fieldset
    %ul
      %li
        =# f.label :note
        = f.text_area :note

%p= f.submit button_text, :id => "submit_button"
= new_child_fields_template(f, :invoice_lines)