<p>
  <b>Number:</b>
  <%=h @invoice.number %>
</p>

<p>
  <b>Payment due date:</b>
  <%=h @invoice.payment_due_date %>
</p>

<p>
  <b>Note:</b>
  <%=h @invoice.note %>
</p>

<p>
  <b>Billing date:</b>
  <%=h @invoice.billing_date %>
</p>


<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>