#main_content.show_invoice
  %h2{ :class => overdue?(@invoice) }
    Invoice #
    #{@invoice.number}
    %span{ status_class(@invoice.status) }=h @invoice.status.humanize
  %p.success
    A payment in the amount of
    %strong
      =h cents_to_dollars(@invoice.total_amount)
    was due on
    %strong
      =h @invoice.payment_due_date.to_s(:regular)
  #invoice_info
    %h3 Client Information
    %fieldset#client_info
      = link_to client_avatar(@invoice.client), @invoice.client, :class => 'avatar'
      %ul.person_info
        %li.name= link_to h(@invoice.client.name), @invoice.client
        %li.email= mail_to h(@invoice.client.email), @invoice.client.email
        %li.phone=h @invoice.client.phone

        %li 
          %strong
            Billing Date:
          =h @invoice.billing_date.to_s(:regular)
    
    %h3 Items
    %fieldset
      %table#invoice_lines
        %thead
          %tr
            %th.description Description
            %th.quantity Quantity
            %th.unit_price Unit Price
            %th
        %tbody
          - @invoice.invoice_lines.each do |invoice_line|
            %tr.invoice_line
              %td.description= invoice_line.description
              %td.quantity= invoice_line.quantity
              %td.price
                %label.currency $
                = invoice_line.price
    %h3 Notes
    %fieldset
      %ul
        %li
          Note:
          = @invoice.note
  
#sidebar
  = link_to "Edit Invoice #{@invoice.number}", edit_invoice_path(@invoice), :id => "edit", :class => "button"
  = link_to 'Add A Payment', new_invoice_payment_path(@invoice), :id => 'payment', :class => 'button'
  = link_to 'Printable Invoice (PDF)', invoice_path(@invoice, :format => 'pdf'), :id => 'pdf', :class => 'button'
  = link_to 'Go Back', :back, :id => "back", :class => "button"
  
= render :partial => 'payments' unless @invoice.payments.blank?
    

