- title "#{@invoice.client.name} - Invoice ##{@invoice.number}"

#main_content.show_invoice
  - if @invoice.overdue?
    %img.overdue_image{:src => "/images/overdue.png", :alt => "Overdue"}
  %h2{ :class => overdue(@invoice) }
    == Invoice ##{@invoice.number}
    %span{ status_class(@invoice.status) }=h @invoice.status.humanize
  = payment_notice(@invoice) unless @invoice.paid?
  #invoice_info
    %h3 Client Information
    %fieldset#client_info
      = link_to client_avatar(@invoice.client), @invoice.client, :class => 'avatar'
      %ul.person_info
        %li.name= link_to h(@invoice.client.name), @invoice.client
        %li.email= mail_to h(@invoice.client.email), @invoice.client.email
        - unless @invoice.client.phone.blank?
          %li.phone= displayable_phone_number(@invoice.client.phone)
        %li.billing_date=h @invoice.billing_date.to_s(:regular)
    
    %h3 Items
    %fieldset
      %table#invoice_lines
        %thead
          %tr
            %th.description Description
            %th.quantity Quantity
            %th.unit_price Unit Price
            %th
        %tbody
          - @invoice.invoice_lines.each do |invoice_line|
            %tr.invoice_line
              %td.description= invoice_line.description
              %td.quantity= invoice_line.quantity
              %td.price
                = number_to_currency(invoice_line.price)
    %h3 Notes
    %fieldset
      %ul
        %li
          Note:
          = @invoice.note
  
#sidebar
  %ul#actions
    %li= link_to "Edit Invoice #{@invoice.number}", edit_invoice_path(@invoice), :id => 'edit', :class => 'button'
    %li= send_notification_link(@invoice) # :id => "send"
    %li= link_to 'Add A Payment', new_invoice_payment_path(@invoice), :id => 'payment', :class => 'button'
    %li= link_to 'Printable Invoice (PDF)', invoice_path(@invoice, :format => 'pdf'), :id => 'pdf', :class => 'button'
    %li= link_to 'Go Back', :back, :id => "back", :class => "button"
    - if current_user.admin?
      %li= link_to 'Delete', @invoice, :class => 'button', :id => "delete", :method => :delete, :confirm => 'Are you sure?'
  
  = render :partial => 'payments' unless @invoice.payments.blank?
    

