= f.error_messages
%fieldset.default.last
  %ul
    %li
      = f.label :first_name
      = f.text_field :first_name, :class => "text"
    %li
      = f.label :last_name
      = f.text_field :last_name, :class => "text"
    %li
      = f.label :email
      = f.text_field :email, :class => "text"
    %li
      = f.label :password, f.object.new_record? ? nil : "Change password"
      = f.password_field :password, :class => "text"
    %li
      = f.label :confirm
      = f.password_field :password_confirmation, :class => "text"
    - if current_user.admin?
      %li
        = f.label :admin
        = f.check_box :admin
    %li
      = f.submit button_text, :id => "submit_button"