- div_for(client) do
  .person
    = link_to client_avatar(client), client, :class => 'avatar'
    %ul.person_info
      %li.name= link_to h(client.name), client
      %li.email= mail_to h(client.email), client.email
      %li.phone= displayable_phone_number(client.phone)
  %h3
    %span.pending
      Pending Invoices
      %strong
        = client.number_of_pending_invoices
  %h3
    %span.due
      Amount Due
      %strong=h cents_to_dollars(client.amount_due)