= f.error_messages
%fieldset.default 
  %ul
    %li
      = f.label :first_name 
      = f.text_field :first_name, :class => "text"
    %li
      = f.label :last_name 
      = f.text_field :last_name, :class => "text"
    %li
      = f.label :company
      = f.text_field :company_name, :class => "text"
    %li
      = f.label :email 
      = f.text_field :email, :class => "text"
    %li
      = f.label :phone 
      = f.text_field :phone, :class => "text"
    %li
      = f.label :fax 
      = f.text_field :fax, :class => "text"
  
- f.fields_for :address do |address|
  = render :partial => 'shared/address', :locals => { :address => address }
%p= f.submit button_text, :id => "submit_button"