#main_content
  %h2 New client
  - form_for(@client) do |f| 
    %fieldset#new_client
      = f.error_messages 
      %ul
        %li= f.label :name 
        %li= f.text_field :name, :class => "text"
        %li= f.label :email 
        %li= f.text_field :email, :class => "text"
        %li= f.label :address 
        %li= f.text_area :address, :class => "text"
        %li= f.label :phone 
        %li= f.text_field :phone, :class => "text"
        %li= f.label :fax 
        %li= f.text_field :fax, :class => "text"
        %li= f.submit 'Create' 

#sidebar
  = link_to 'Cancel &amp; Go Back', clients_path, :id => "cancel"