#main_content
  %h2
    %img{:src => "/images/client.png", :width => "40px", :height => "40px"}
    =h @client.name
  %ul
    %li
      %strong Email:
      %a.email{ :href => "mailto:#{@client.email}" }=h @client.email 
    %li
      %strong Address:
      %ul
        %li= @client.address.address_parts.join("<li>") unless @client.address.blank?
    %li
      %strong Phone:
      =h @client.phone 
    %li
      %strong Fax:
      =h @client.fax 


#sidebar
  = link_to "Edit #{h(@client.name)}'s record", edit_client_path(@client), :class => "button", :id => "edit"
  = link_to 'Go Back', clients_path, :class => "button", :id => "back"