- title "#{@client.name}"

#main_content
  %h2=h @client.name
  #clients
    .person
      = link_to client_avatar(@client), @client, :class => 'avatar'
    %ul.more_info
      %li.email
        %strong Email:
        %a{ :href => "mailto:#{@client.email}" }=h @client.email
      - unless @client.phone.blank?
        %li.phone
          %strong Phone:
          = displayable_phone_number(@client.phone)
      - unless @client.fax.blank?
        %li.fax
          %strong Fax:
          = displayable_phone_number(@client.fax)
    - unless @client.address.blank?
      %ul.address
        = format_address(@client.address.address_parts) unless @client.address.blank?
      
  #invoices
    = render :partial => 'invoices/invoices'

#sidebar
  %ul#actions
    %li= link_to "Edit #{h(@client.name)}'s record", edit_client_path(@client), :class => "button", :id => "edit"
    %li= link_to 'Go Back', clients_path, :class => "button", :id => "back"
  
  #totals
    %h4 
      Pending Invoices:
      %span= @client.number_of_pending_invoices
    %h4 
      Amount Due:
      %span
        =h cents_to_dollars(@client.amount_due)