- title "Welcome to Bread Box - Please Log in"

#login
  - form_for @user_session, :url => user_session_path do |f|
    = f.error_messages
    %fieldset
      %ul#user_details
        %li
          = f.label :email
          = f.text_field :email, :class => "text", :id => "email", :tabindex => "1"
        %li
          = f.label :password
          = f.password_field :password, :class => "text", :id => "password", :tabindex => "2"
      %ul#remember
        %li.login
          = f.hidden_field :remember_me, :checked => true
          = f.submit "Login", :id => "submit"
