!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title= yield(:title) || controller.action_name
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => 'lang', :content => 'en' }
    %meta{ :name => "description", :content => "Breadbox is a simple invoicing system for designed for freelance developers" }
    %meta{ :name => "keywords", :content => "breadbox, invoice, freelance, developers, simple, easy, rails, ruby, reaction, control, matt, polito, stephen, korecky" }
    %meta{ :name => "author", :content => "REACTIONcontrol" }
    %meta{ :name => "copyright", :content => "copyright (c) 2009 REACTIONcontrol" }
    %meta{ :name => "revisit-after", :content => "3 days" }
    %link{ :href => "images/favicon.ico", :rel => "shortcut icon" }
    = stylesheet_link_tag 'screen', :cache => true
    = yield(:stylesheets)
    = javascript_include_tag :all, :cache => true
    =# javascript_include_tag 'jquery'
    =# javascript_include_tag 'application'

    = yield(:javascript)
    %body
      #wrapper
        #header
          %a#logo{:href => "/"}
          %ul#user
            %li.user John Appleseed
            %li 
              %a{:href => "#"} My info
            %li
              %a{:href => "#"} Log-out
            %li
              %a{:href => "#"} Help
          %ul#navigation
            %li= link_to "Dashboard", "/"
            %li= link_to "Invoices", invoices_path
            %li= link_to "Clients", clients_path
              
        #content
          = render_flash_messages
          - if flash[:notice] 
            %p.success
              = flash[:notice]
          - if flash[:error] 
            %p.error
              = flash[:error]
          = yield
        #footer
          %p 
            Copyright 
            =Time.now.strftime("%Y") 
            %a{:href => "http://reactioncontrol.com"} REACTIONcontrol
            , All Rights Reserved.