!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title= yield(:title) || controller.action_name
    %meta{ :name => 'copyright', :content => '' }
    %meta{ :name => 'lang', :content => 'en' }
    = stylesheet_link_tag 'style', :cache => true
    = yield(:stylesheets)
    = javascript_include_tag :all, :cache => true
    =# javascript_include_tag 'jquery'
    =# javascript_include_tag 'jquery-ui'
    =# javascript_include_tag 'jrails'

    = yield(:javascript)
    %body
      #wrapper
        #header
          %h1 Bread Box
          %ul
            %li= link_to "Home", "/"
            %li= link_to "Invoices", invoices_path
            %li= link_to "Clients", clients_path
        #content
          = render_flash_messages
          = yield
